In [317]:
import pandas as pd
import ast
import re
df_movies = pd.read_parquet('datasets/clean_movies_dataset.parquet')
df_credits = pd.read_parquet('datasets/credits.parquet')

In [318]:
df_credits.cast.apply(lambda x : type(x))

0        <class 'str'>
1        <class 'str'>
2        <class 'str'>
3        <class 'str'>
4        <class 'str'>
             ...
45471    <class 'str'>
45472    <class 'str'>
45473    <class 'str'>
45474    <class 'str'>
45475    <class 'str'>
Name: cast, Length: 45476, dtype: object

In [319]:
df_movies.columns

Index(['belongs_to_collection', 'budget', 'genres', 'id', 'original_language',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'release_year', 'return'],
      dtype='object')

### def cantidad_filmaciones_mes( Mes ): Se ingresa un mes en idioma Español. Debe devolver la cantidad de películas que fueron estrenadas en el mes consultado en la totalidad del dataset.
                    Ejemplo de retorno: X cantidad de películas fueron estrenadas en el mes de X

In [320]:
def cantidad_filmaciones_mes(mes: str):
    mes = mes.lower()
    df_movies.release_date = pd.to_datetime(df_movies.release_date)
    def mes_a_numero (mes):
        meses = {
            'enero':1,'febrero':2,'marzo':3,'abril':4,
            'mayo':5,'junio':6,'julio':7,'agosto':8,
            'septiembre':9,'octubre':10,'noviembre':11,'diciembre':12
            }
        return meses[mes]
    cantidad = df_movies.release_date.loc[df_movies.release_date.dt.month == mes_a_numero(mes)].count()
    return f'{cantidad.item()} cantidad de películas fueron estrenadas en el mes de {mes}'

- prueba

In [321]:
cantidad_filmaciones_mes('febrero')

'3032 cantidad de películas fueron estrenadas en el mes de febrero'

### def cantidad_filmaciones_dia( Dia ): Se ingresa un día en idioma Español. Debe devolver la cantidad de películas que fueron estrenadas en día consultado en la totalidad del dataset.
                    Ejemplo de retorno: X cantidad de películas fueron estrenadas en los días X

In [322]:
def cantidad_filmaciones_dia(dia : str):
    dia = dia.lower()
    df_movies.release_date = pd.to_datetime(df_movies.release_date, errors= 'coerce')
    def dia_numero(dia_numero):
        dias = {'lunes' : 0,'martes' : 1, 'miercoles': 2, 'jueves':3, 'viernes':4, 'sabado':5, 'domingo':6}
        return dias[dia_numero]
    cantidad = df_movies.release_date.loc[df_movies.release_date.dt.weekday == dia_numero(dia)].count()
    return {'dia' : dia , 'cantidad' : cantidad.item()}

- prueba

In [323]:
cantidad_filmaciones_dia('lunes')

{'dia': 'lunes', 'cantidad': 3503}

### def score_titulo( titulo_de_la_filmación ): Se ingresa el título de una filmación esperando como respuesta el título, el año de estreno y el score.
                    Ejemplo de retorno: La película X fue estrenada en el año X con un score/popularidad de

In [324]:
def score_titulo(titulo_de_la_filmacion: str):
    titulo_de_la_filmacion = titulo_de_la_filmacion.lower()
    respuesta = df_movies[['title','release_year','popularity']].loc[df_movies.title.apply(lambda x : x.lower()) == titulo_de_la_filmacion]
    titulo = respuesta['title'].values[0]
    anio = respuesta['release_year'].values[0]
    popularidad = respuesta['popularity'].values[0]
    return f"la pelicula {str(titulo)} fue estrenada en el año {str(anio)} con un score/popularidad de {str(popularidad)}"

- prueba

In [325]:
score_titulo('Toy Story')

'la pelicula Toy Story fue estrenada en el año 1995 con un score/popularidad de 21.946943'

### def votos_titulo( titulo_de_la_filmación ): Se ingresa el título de una filmación esperando como respuesta el título, la cantidad de votos y el valor promedio de las votaciones. La misma variable deberá de contar con al menos 2000 valoraciones, caso contrario, debemos contar con un mensaje avisando que no cumple esta condición y que por ende, no se devuelve ningun valor.
                    Ejemplo de retorno: La película X fue estrenada en el año X. La misma cuenta con un total de X valoraciones, con un promedio de X

In [326]:
def votos_titulo(titulo_de_la_filmacion: str):
    titulo_de_la_filmacion = titulo_de_la_filmacion.lower()
    respuesta = df_movies[['title','release_year','vote_count','vote_average']].loc[df_movies.title.apply(lambda x : x.lower()) == titulo_de_la_filmacion]
    titulo = respuesta['title'].values[0]
    anio = respuesta['release_year'].values[0]
    cantidad_votos = respuesta['vote_count'].values[0]
    promedio_votos = respuesta['vote_average'].values[0]
    if respuesta['vote_count'].values[0] <2000:
        return f'La variable ingresada no cumple con la condición necesaria de tener más de 2000 valoraciones'
    else:
        return f"la pelicula {str(titulo)} fue estrenada en el año {str(anio)}. La misma cuenta con {str(cantidad_votos)} votos con un promedio de {str(promedio_votos)}"

- prueba

In [327]:
votos_titulo('Toy Story')

'la pelicula Toy Story fue estrenada en el año 1995. La misma cuenta con 5415 votos con un promedio de 7.7'

### def get_actor( nombre_actor ): Se ingresa el nombre de un actor que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, la cantidad de películas que en las que ha participado y el promedio de retorno. La definición no deberá considerar directores.
                    Ejemplo de retorno: El actor X ha participado de X cantidad de filmaciones, el mismo ha conseguido un retorno de X con un promedio de X por filmación

In [328]:
def get_actor(nombre_actor: str):
    resultado = df_credits[df_credits['cast'].apply(lambda x : nombre_actor.lower().rstrip() in x.lower())]
    cantidad_proyectos = resultado.shape[0]
    lista_proyectos = resultado.id.tolist()
    proyectos = df_movies[df_movies['id'].isin(lista_proyectos)]
    retorno = sum(proyectos.revenue.tolist())
    promedio = round(retorno/cantidad_proyectos)
    return f'El actor {nombre_actor} ha participado de {cantidad_proyectos} filmaciones, el mismo ha conseguido un retorno de {retorno} con un promedio de {promedio} por filmacion'

- prueba

In [329]:
get_actor('Robin Williams')

'El actor Robin Williams ha participado de 83 filmaciones, el mismo ha conseguido un retorno de 6356609847 con un promedio de 76585661 por filmacion'

### def get_director( nombre_director ): Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma.

In [344]:
df_movies.columns

Index(['belongs_to_collection', 'budget', 'genres', 'id', 'original_language',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'release_year', 'return'],
      dtype='object')

In [363]:
def get_director(nombre_director: str):
    condicion1 = df_credits['crew'].str.contains(r'\b{}\b'.format(nombre_director.title()), regex=True)
    condicion2 = df_credits['crew'].str.contains(r'\b{}\b'.format('Director'), regex=True)
    resultado = df_credits[condicion1 & condicion2]
    lista_proyectos = resultado.id.tolist()
    proyectos = df_movies[df_movies['id'].isin(lista_proyectos)]
    retorno = sum(proyectos.revenue.tolist())
    peliculas = ""
    print(proyectos)
        #peliculas = f"{peliculas}{proyectos['title'].values[0]} - {proyectos['release_date'].values[0]} /n"
        
    return f'El director {nombre_director} ha conseguido un retorno de {retorno}, sus trabajos son: /n {peliculas}'

- prueba

In [364]:
get_director('Joe Johnston')

                                   belongs_to_collection     budget
1                                                   None   65000000  \
552                                                 None   27000000
1945   {'id': 72119, 'name': 'Honey, I Shrunk the Kid...   32000000
1985                                                None   42000000
2084                                                None   35000000
2388                                                None          0
4509   {'id': 328, 'name': 'Jurassic Park Collection'...   93000000
7171                                                None  100000000
7640                                                None          0
8848   {'id': 133830, 'name': 'Star Wars: The Ewok Ad...    3000000
14823                                               None  150000000
17444  {'id': 131295, 'name': 'Captain America Collec...  140000000
28062                                               None          0

                                                  genres      id
1      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...    8844  \
552    [{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...   15139
1945   [{'id': 12, 'name': 'Adventure'}, {'id': 35, '...    9354
1985   [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...   10249
2084   [{'id': 12, 'name': 'Adventure'}, {'id': 18, '...     847
2388   [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...   13466
4509   [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...     331
7171   [{'id': 37, 'name': 'Western'}, {'id': 12, 'na...    2023
7640   [{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...   11548
8848   [{'id': 12, 'name': 'Adventure'}, {'id': 10751...    1884
14823  [{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...    7978
17444  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...    1771
28062                   [{'id': 53, 'name': 'Thriller'}]  256347

      original_language                                           overview
1                    en  When siblings Judy and Peter discover an encha...  \
552                  en  Tyler knows a lot about accidents. So much so,...
1945                 en  The scientist father of a teenage girl and boy...
1985                 en  Straight from the pages of a pulp comic from a...
2084                 en  Fearful of a prophecy stating that a girl chil...
2388                 en  Based on the true story of Homer Hickam, a coa...
4509                 en  In need of funds for research, Dr. Alan Grant ...
7171                 en  Set in 1890, this is the story of a Pony Expre...
7640                 en  In a soon to be demolished block of apartments...
8848                 en  The Towani family civilian shuttlecraft crashe...
14823                en  Lawrence Talbot, an American man on a visit to...
17444                en  Predominantly set during World War II, Steve R...
28062                en  An office worker is trapped inside the buildin...

       popularity                               production_companies
1       17.015539  [{'name': 'TriStar Pictures', 'id': 559}, {'na...  \
552      7.436001  [{'name': 'Twentieth Century Fox Film Corporat...
1945    12.358786                [{'name': 'Buena Vista', 'id': 32}]
1985    10.536644        [{'name': 'Walt Disney Pictures', 'id': 2}]
2084     9.918312  [{'name': 'Lucasfilm', 'id': 1}, {'name': 'Met...
2388     6.652528         [{'name': 'Universal Pictures', 'id': 33}]
4509     0.648867  [{'name': 'Universal Studios', 'id': 13}, {'na...
7171     8.140709  [{'name': 'Casey Silver Productions', 'id': 87...
7640    11.492174  [{'name': 'Universal Pictures', 'id': 33}, {'n...
8848     5.056089  [{'name': 'Lucasfilm', 'id': 1}, {'name': 'Kor...
14823    9.297209  [{'name': 'Universal Pictures', 'id': 33}, {'n...
17444   19.323582  [{'name': 'Paramount Pictures', 'id': 4}, {'na...
28062    2.283110    [{'name': 'Blumhouse Productions', 'id': 3172}]

                                    production_countries release_date
1      [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-15  \
552    [{'iso_3166_1': 'US', 'name': 'United States o...   1994-11-23
1945   [{'iso_3166_1': 'US', 'name': 'United States o...   1989-06-22
1985   [{'iso_3166_1': 'US', 'name': 'United States o...   1991-06-21
2084   [{'iso_3166_1': 'US', 'name': 'United States o...   1988-05-01
2388   [{'iso_3166_1': 'US', 'name': 'United States o...   1999-02-19
4509   [{'iso_3166_1': 'US', 'name': 'United States o...   2001-07-18
7171   [{'iso_3166_1': 'US', 'name': 'United States o...   2004-03-05
7640   [{'iso_3166_1': 'US', 'name': 'United States o...   1987-12-18
8848   [{'iso_3166_1': 'US', 'name': 'United States o...   1985-02-13
14823  [{'iso_3166_1': 'US', 'name': 'United States o...   2010-02-11
17444  [{'iso_3166_1': 'US', 'name': 'United States o...   2011-07-22
28062  [{'iso_3166_1': 'US', 'name': 'United States o...   2014-05-09

         revenue  runtime                                   spoken_languages
1      262797249    104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  \
552     13670688     80.0  [{'iso_639_1': 'da', 'name': 'Dansk'}, {'iso_6...
1945   222724172     93.0           [{'iso_639_1': 'en', 'name': 'English'}]
1985    62000000    108.0           [{'iso_639_1': 'en', 'name': 'English'}]
2084    57269863    126.0           [{'iso_639_1': 'en', 'name': 'English'}]
2388           0    108.0           [{'iso_639_1': 'en', 'name': 'English'}]
4509   368780809     92.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
7171   108103450    136.0           [{'iso_639_1': 'en', 'name': 'English'}]
7640    65088797    106.0           [{'iso_639_1': 'en', 'name': 'English'}]
8848           0     96.0           [{'iso_639_1': 'en', 'name': 'English'}]
14823          0    102.0           [{'iso_639_1': 'en', 'name': 'English'}]
17444  370569774    124.0  [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...
28062          0     74.0           [{'iso_639_1': 'en', 'name': 'English'}]

         status                                            tagline
1      Released          Roll the dice and unleash the excitement!  \
552    Released       All The Adventure Your Imagination Can Hold.
1945   Released  The most astonishing, innovative, backyard adv...
1985   Released  Three years before the United States declares ...
2084   Released       Adventure doesn't come any bigger than this.
2388   Released  Sometimes one dream is enough to light up the ...
4509   Released       This time, it's not just a walk in the park!
7171   Released                     Unbridled. Unbroken. Unbeaten.
7640   Released  Five ordinary people needed a miracle. Then on...
8848   Released  You'll live the adventure... You'll love it's ...
14823  Released     When the moon is full the legend comes to life
17444  Released                        When patriots become heroes
28062  Released                  No Protection, No Help, No Escape

                                    title  vote_average  vote_count
1                                 Jumanji           6.9        2413  \
552                        The Pagemaster           6.2         178
1945             Honey, I Shrunk the Kids           6.1         756
1985                        The Rocketeer           6.3         265
2084                               Willow           6.9         484
2388                          October Sky           7.4         259
4509                    Jurassic Park III           5.7        2109
7171                              Hidalgo           6.5         321
7640               Batteries not Included           6.3         222
8848                   The Ewok Adventure           5.9          46
14823                         The Wolfman           5.5         562
17444  Captain America: The First Avenger           6.6        7174
28062                   Not Safe for Work           4.8          44

       release_year    return
1              1995  4.043035
552            1994  0.506322
1945           1989  6.960130
1985           1991  1.476190
2084           1988  1.636282
2388           1999  0.000000
4509           2001  3.965385
7171           2004  1.081034
7640           1987  0.000000
8848           1985  0.000000
14823          2010  0.000000
17444          2011  2.646927
28062          2014  0.000000

'El director Joe Johnston ha conseguido un retorno de 1531004802, sus trabajos son: /n '