In [284]:
import pandas as pd
import ast

In [285]:
df = pd.read_parquet('datasets/credits.parquet')
df

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

codigo de prueba

Voy a crear un dataframe vacio, donde, almacenaré posterior mente la cantidad de apariciones de las personas, nombres y rol

In [286]:
columnas = ['nombre', 'rol', 'cantidad_de_apariciones','proyectos_relacionados']
df_conteo = pd.DataFrame(columns = columnas)
df_conteo

Empty DataFrame
Columns: [nombre, rol, cantidad_de_apariciones, proyectos_relacionados]
Index: []

Vamos a intentar abrirnos paso en la cochinada del df original

In [287]:
df['cast'] = df['cast'].apply(lambda x: ast.literal_eval(x) if (type(x) == str and x!='[]') else 
[{'cast_id': '',
  'character': '',
  'credit_id': '',
  'gender': '',
  'id': '',
  'name': '',
  'order': '',
  'profile_path':''}])

In [288]:
df['crew'] = df['crew'].apply(lambda x: ast.literal_eval(x) if (type(x) == str and x!='[]') else 
[{'credit_id': '',
  'department': '',
  'gender': '',
  'id': '',
  'job': '',
  'name': '',
  'profile_path': ''}])

In [291]:
df.cast.apply(lambda x : type(x))

0        <class 'list'>
1        <class 'list'>
2        <class 'list'>
3        <class 'list'>
4        <class 'list'>
              ...
45471    <class 'list'>
45472    <class 'list'>
45473    <class 'list'>
45474    <class 'list'>
45475    <class 'list'>
Name: cast, Length: 45476, dtype: object

In [292]:
df

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,"[{'cast_id': '', 'character': '', 'credit_id':...","[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [290]:
def contar_actores():
    for fila in df.cast[1:400]:    
        for diccionario in fila:
                        if not df_conteo.nombre.isin([diccionario['name']]).any():
                            nombre_actor = diccionario['name']
                            resultado = df[df.cast.apply(lambda lista : any(diccionarios['name'] == nombre_actor for diccionarios in lista ))]
                            cantidad_de_apariciones = resultado.shape[0]
                            proyectos_relacionados =  resultado.id.tolist()
                            nueva_fila = {
                                'nombre': nombre_actor,
                                'rol': 'actor',
                                'cantidad_de_apariciones' : cantidad_de_apariciones,
                                'proyectos_relacionados' : proyectos_relacionados
                            }
                        df_conteo.loc[len(df_conteo)] = nueva_fila